      html
      {
         /* killing 300ms touch delay in IE */
         -ms-touch-action: manipulation;
         touch-action: manipulation;
      }

      #imagelightbox
      {
         cursor: pointer;
         position: fixed;
         z-index: 10000;

         -ms-touch-action: none;
         touch-action: none;

         -webkit-box-shadow: 0 0 3.125em rgba( 0, 0, 0, .75 ); /* 50 */
         -moz-box-shadow: 0 0 3.125em rgba( 0, 0, 0, .75 ); /* 50 */
         box-shadow: 0 0 3.125em rgba( 0, 0, 0, .75 ); /* 50 */

	   background: white;
      }
      /* WITH ACTIVITY INDICATION */

      #imagelightbox-loading,
      #imagelightbox-loading div
      {
         -webkit-border-radius: 50%;
         -moz-border-radius: 50%;
         border-radius: 50%;
      }
      #imagelightbox-loading
      {
         width: 2.5em; /* 40 */
         height: 2.5em; /* 40 */
         background-color: #444;
         background-color: rgba( 0, 0, 0, .5 );
         position: fixed;
         z-index: 10003;
         top: 50%;
         left: 50%;
         padding: 0.625em; /* 10 */
         margin: -1.25em 0 0 -1.25em; /* 20 */

         -webkit-box-shadow: 0 0 2.5em rgba( 0, 0, 0, .75 ); /* 40 */
         -moz-box-shadow: 0 0 2.5em rgba( 0, 0, 0, .75 ); /* 40 */
         box-shadow: 0 0 2.5em rgba( 0, 0, 0, .75 ); /* 40 */
      }
         #imagelightbox-loading div
         {
            width: 1.25em; /* 20 */
            height: 1.25em; /* 20 */
            background-color: #fff;

            -webkit-animation: imagelightbox-loading .5s ease infinite;
            -moz-animation: imagelightbox-loading .5s ease infinite;
            -o-animation: imagelightbox-loading .5s ease infinite;
            animation: imagelightbox-loading .5s ease infinite;
         }

         @-webkit-keyframes imagelightbox-loading
         {
            from { opacity: .5;  -webkit-transform: scale( .75 ); }
            50%    { opacity: 1; -webkit-transform: scale( 1 ); }
            to  { opacity: .5;   -webkit-transform: scale( .75 ); }
         }
         @-moz-keyframes imagelightbox-loading
         {
            from { opacity: .5;  -moz-transform: scale( .75 ); }
            50%    { opacity: 1; -moz-transform: scale( 1 ); }
            to  { opacity: .5;   -moz-transform: scale( .75 ); }
         }
         @-o-keyframes imagelightbox-loading
         {
            from { opacity: .5;  -o-transform: scale( .75 ); }
            50%    { opacity: 1; -o-transform: scale( 1 ); }
            to  { opacity: .5;   -o-transform: scale( .75 ); }
         }
         @keyframes imagelightbox-loading
         {
            from { opacity: .5;  transform: scale( .75 ); }
            50%    { opacity: 1; transform: scale( 1 ); }
            to  { opacity: .5;   transform: scale( .75 ); }
         }



      /* WITH OVERLAY */

      #imagelightbox-overlay
      {
         background-color: #fff;
         background-color: rgba( 0, 0, 0, .9 );
         position: fixed;
         z-index: 9998;
         top: 0;
         right: 0;
         bottom: 0;
         left: 0;
      }


      /* WITH "CLOSE" BUTTON */

      #imagelightbox-close, #imagelightbox-zoom
      {
         width: 2.5em; /* 40 */
         height: 2.5em; /* 40 */
         text-align: left;
         text-indent: -9999px;
         background-color: #666;
         position: fixed;
         z-index: 10002;
         top: 2.5em; /* 40 */
         right: 2.5em; /* 40 */

         -webkit-border-radius: 50%;
         -moz-border-radius: 50%;
         border-radius: 50%;

         -webkit-transition: color .3s ease;
         -moz-transition: color .3s ease;
         -ms-transition: color .3s ease;
         -o-transition: color .3s ease;
         transition: color .3s ease;
      }
      #imagelightbox-zoom {
        background-color: #78A890;
      }
      #imagelightbox-zoom {
        right: 6em;
      }
         #imagelightbox-close:hover
         {
            background-color: #111;
         }
         #imagelightbox-zoom:hover {
            background-color: #C0D890;
         }
         #imagelightbox-close:before,
         #imagelightbox-close:after,
         #imagelightbox-zoom:before,
         #imagelightbox-zoom:after
         {
            width: 2px;
            background-color: #fff;
            content: '';
            position: absolute;
            top: 20%;
            bottom: 20%;
            left: 50%;
            margin-left: -1px;
         }
         #imagelightbox-close:before
         {
            -webkit-transform: rotate( 45deg );
            -moz-transform: rotate( 45deg );
            -ms-transform: rotate( 45deg );
            -o-transform: rotate( 45deg );
            transform: rotate( 45deg );
         }

         #imagelightbox-close:after
         {
            -webkit-transform: rotate( -45deg );
            -moz-transform: rotate( -45deg );
            -ms-transform: rotate( -45deg );
            -o-transform: rotate( -45deg );
            transform: rotate( -45deg );
         }
         #imagelightbox-zoom:before
         {
            -webkit-transform: rotate( 0deg );
            -moz-transform: rotate( 0deg );
            -ms-transform: rotate( 0deg );
            -o-transform: rotate( 0deg );
            transform: rotate( 0deg );
         }

         #imagelightbox-zoom:after
         {
            -webkit-transform: rotate( -90deg );
            -moz-transform: rotate( -90deg );
            -ms-transform: rotate( -90deg );
            -o-transform: rotate( -90deg );
            transform: rotate( -90deg );
         }


      /* WITH CAPTION */

      #imagelightbox-caption
      {
         text-align: center;
         color: #fff;
         background-color: rgba(0,0,0,.8);
         position: fixed;
         z-index: 10001;
         left: 0;
         right: 0;
         bottom: 0;
         padding: 0.4em; /* 10 */
      }


      /* WITH NAVIGATION */

      #imagelightbox-nav
      {
         background-color: #444;
         background-color: rgba( 0, 0, 0, .5 );
         position: fixed;
         z-index: 10001;
         left: 50%;
         bottom: 2.7em; /* 60 */
         padding: 0.3em; /* 5 */
         padding-bottom: 0;

         -webkit-transform: translateX( -50% );
         -moz-transform: translateX( -50% );
         -ms-transform: translateX( -50% );
         -o-transform: translateX( -50% );
         transform: translateX( -50% );

         -webkit-border-radius: 20px;
         -moz-border-radius: 20px;
         border-radius: 20px;

      }
         #imagelightbox-nav a
         {
            width: 1em; /* 20 */
            height: 1em; /* 20 */
            border: 1px solid #fff;
            display: inline-block;
            margin: 0 0.313em; /* 5 */

            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
         }
         #imagelightbox-nav a.active
         {
            background-color: #fff;
         }
    /* ARROWS */

    .imagelightbox-arrow
    {
      width: 3.75em; /* 60 */
      height: 7.5em; /* 120 */
      background-color: #444;
      background-color: rgba( 0, 0, 0, .5 );
      vertical-align: middle;
      display: none;
      position: fixed;
      z-index: 10001;
      top: 50%;
      margin-top: -3.75em; /* 60 */
    }
    .imagelightbox-arrow:hover,
    .imagelightbox-arrow:focus
    {
      background-color: #666;
      background-color: rgba( 0, 0, 0, .75 );
    }
    .imagelightbox-arrow:active
    {
      background-color: #111;
    }
      .imagelightbox-arrow-left
      {
        left: 2.5em; /* 40 */
      }
      .imagelightbox-arrow-right
      {
        right: 2.5em; /* 40 */
      }
      .imagelightbox-arrow:before
      {
        width: 0;
        height: 0;
        border: 1em solid transparent;
        content: '';
        display: inline-block;
        margin-bottom: -0.125em; /* 2 */
      }
        .imagelightbox-arrow-left:before
        {
          border-left: none;
          border-right-color: #fff;
          margin-left: -0.313em; /* 5 */
        }
        .imagelightbox-arrow-right:before
        {
          border-right: none;
          border-left-color: #fff;
          margin-right: -0.313em; /* 5 */
        }

   #imagelightbox-loading,
   #imagelightbox-overlay,
   #imagelightbox-close,
   #imagelightbox-zoom,
   #imagelightbox-caption,
   #imagelightbox-nav,
   .imagelightbox-arrow
   {
      -webkit-animation: fade-in .25s linear;
      -moz-animation: fade-in .25s linear;
      -ms-animation: fade-in .25s linear;
      -o-animation: fade-in .25s linear;
      animation: fade-in .25s linear;
   }
      @-webkit-keyframes fade-in
      {
         from  { opacity: 0; }
         to    { opacity: 1; }
      }
      @-moz-keyframes fade-in
      {
         from  { opacity: 0; }
         to    { opacity: 1; }
      }
      @-ms-keyframes fade-in
      {
         from  { opacity: 0; }
         to    { opacity: 1; }
      }
      @-o-keyframes fade-in
      {
         from  { opacity: 0; }
         to    { opacity: 1; }
      }
      @keyframes fade-in
      {
         from  { opacity: 0; }
         to    { opacity: 1; }
      }

   @media only screen and (max-width: 41.250em) /* 660 */
   {
      #container
      {
         width: 100%;
      }
      #imagelightbox-close,
      #imagelightbox-zoom,
      {
         top: 1.25em; /* 20 */
         right: 1.25em; /* 20 */
      }
      #imagelightbox-nav
      {
         /* bottom: 1.25em; *//* 20 */
      }
      .imagelightbox-arrow
      {
        width: 2.5em; /* 40 */
        height: 3.75em; /* 60 */
        margin-top: -2.75em; /* 30 */
      }
      .imagelightbox-arrow-left
      {
        left: 1.25em; /* 20 */
      }
      .imagelightbox-arrow-right
      {
        right: 1.25em; /* 20 */
      }

   }

    @media only screen and (max-width: 20em) /* 320 */
    {
      .imagelightbox-arrow-left
      {
        left: 0;
      }
      .imagelightbox-arrow-right
      {
        right: 0;
      }
    }
