/*
Name: Sublime Text Cli
Description: Clean, crisp and colorful.
Version: 1.1
Author: khosite
URL: http://khosite.com/
*/
.crayon-theme-sublime-text-cli {
	border-width: 1px !important;
	border-color: #999 !important;
	border-style: solid !important;
	text-shadow: none !important;
	background: #272822 !important;
}
.crayon-theme-sublime-text-cli-inline {
	border-width: 1px !important;
	border-color: #999 !important;
	border-style: solid !important;
	background: #272822 !important;
}
.crayon-theme-sublime-text-cli .crayon-table .crayon-nums {
	background: #272822 !important;
	color: #868686 !important;
}
.crayon-theme-sublime-text-cli .crayon-striped-line {
	background: #272822 !important;
}
.crayon-theme-sublime-text-cli .crayon-striped-num {
	background: #32322a !important;
	color: #868686 !important;
}
.crayon-theme-sublime-text-cli .crayon-marked-line {
	background: #272822 !important;
	border-width: 1px !important;
	border-color: #272822 !important;
}
.crayon-theme-sublime-text-cli .crayon-marked-num {
	color: #868686 !important;
	background: #272822 !important;
	border-width: 1px !important;
	border-color: #272822 !important;
}
.crayon-theme-sublime-text-cli .crayon-marked-line.crayon-striped-line {
	background: #272822 !important;
}
.crayon-theme-sublime-text-cli .crayon-marked-num.crayon-striped-num {
	background: #272822 !important;
	color: #868686 !important;
}
.crayon-theme-sublime-text-cli .crayon-marked-line.crayon-top {
	border-top-style: solid !important;
}
.crayon-theme-sublime-text-cli .crayon-marked-num.crayon-top {
	border-top-style: solid !important;
}
.crayon-theme-sublime-text-cli .crayon-marked-line.crayon-bottom {
	border-bottom-style: solid !important;
}
.crayon-theme-sublime-text-cli .crayon-marked-num.crayon-bottom {
	border-bottom-style: solid !important;
}
.crayon-theme-sublime-text-cli .crayon-info {
	background: #272822 !important;
	border-bottom-width: 1px !important;
	border-bottom-color: #e6db5d !important;
	border-bottom-style: solid !important;
	color: #e6db5d !important;
}
.crayon-theme-sublime-text-cli .crayon-toolbar {
	background: #DDD !important;
	border-bottom-width: 1px !important;
	border-bottom-color: #BBB !important;
	border-bottom-style: solid !important;
}
.crayon-theme-sublime-text-cli .crayon-toolbar > div {
	float: left !important;
}
.crayon-theme-sublime-text-cli .crayon-toolbar .crayon-tools {
	float: right !important;
}
.crayon-theme-sublime-text-cli .crayon-title {
	color: #333 !important;
}
.crayon-theme-sublime-text-cli .crayon-language {
	color: #999 !important;
}
.crayon-theme-sublime-text-cli .crayon-button {
	background-color: #DDD !important;
}
.crayon-theme-sublime-text-cli .crayon-button:hover {
	background-color: #EEE !important;
	color: #666;
}
.crayon-theme-sublime-text-cli .crayon-button.crayon-pressed:hover {
	background-color: #EEE !important;
	color: #666;
}
.crayon-theme-sublime-text-cli .crayon-button.crayon-pressed {
	background-color: #BCBCBC !important;
	color: #FFF;
}
.crayon-theme-sublime-text-cli .crayon-button.crayon-pressed:active {
	background-color: #BCBCBC !important;
	color: #FFF;
}
.crayon-theme-sublime-text-cli .crayon-button:active {
	background-color: #BCBCBC !important;
	color: #FFF;
}
.crayon-theme-sublime-text-cli .crayon-pre .crayon-c {
	color: #75715e !important;
}
.crayon-theme-sublime-text-cli .crayon-pre .crayon-s {
	color: #e6db5d !important;
}
.crayon-theme-sublime-text-cli .crayon-pre .crayon-p {
	color: #b85c00 !important;
}
.crayon-theme-sublime-text-cli .crayon-pre .crayon-ta {
	color: #f8f8f2 !important;
}
.crayon-theme-sublime-text-cli .crayon-pre .crayon-k {
	color: #66d9ef !important;
}
.crayon-theme-sublime-text-cli .crayon-pre .crayon-st {
	color: #66d9ef !important;
}
.crayon-theme-sublime-text-cli .crayon-pre .crayon-r {
	color: #66d9ef !important;
}
.crayon-theme-sublime-text-cli .crayon-pre .crayon-t {
	color: #a6e22d !important;
}
.crayon-theme-sublime-text-cli .crayon-pre .crayon-m {
	color: #66d9ef !important;
}
.crayon-theme-sublime-text-cli .crayon-pre .crayon-i {
	color: #f8f8f2 !important;
}
.crayon-theme-sublime-text-cli .crayon-pre .crayon-e {
	color: #f92650 !important;
}
.crayon-theme-sublime-text-cli .crayon-pre .crayon-v {
	color: #f8f8f2 !important;
}
.crayon-theme-sublime-text-cli .crayon-pre .crayon-cn {
	color: #ae81ff !important;
}
.crayon-theme-sublime-text-cli .crayon-pre .crayon-o {
	color: #f8f8f2 !important;
}
.crayon-theme-sublime-text-cli .crayon-pre .crayon-sy {
	color: #f8f8f2 !important;
}
.crayon-theme-sublime-text-cli .crayon-pre .crayon-n {
	color: #666 !important;
	font-style: italic !important;
}
.crayon-theme-sublime-text-cli .crayon-pre .crayon-f {
	color: #999 !important;
}
.crayon-theme-sublime-text-cli .crayon-pre .crayon-h {
	color: #006fe0 !important;
}
.crayon-theme-sublime-text-cli .crayon-pre {
	color: #f8f8f2 !important;
}
